[submodule "glfw"]
	path = glfw
	url = git@github.com:glfw/glfw.git
	branch = master
[submodule "deps/glfw"]
	path = deps/glfw
	url = git@github.com:glfw/glfw.git
	branch = master
[submodule "deps/glm"]
	path = deps/glm
	url = git@github.com:g-truc/glm.git
	branch = master
[submodule "deps/assimp"]
	path = deps/assimp
	url = git@github.com:assimp/assimp.git
	branch = master
[submodule "deps/imgui"]
	path = deps/imgui
	url = git@github.com:ocornut/imgui.git
	branch = master
[submodule "deps/stb"]
	path = deps/stb
	url = git@github.com:nothings/stb.git
	branch = master
[submodule "spdlog"]
	path = spdlog
	url = git@github.com:gabime/spdlog.git
	branch = master
[submodule "deps/spdlog"]
	path = deps/spdlog
	url = git@github.com:gabime/spdlog.git
	branch = master
[submodule "deps/thread-pool"]
	path = deps/thread-pool
	url = git@github.com:bshoshany/thread-pool.git
	branch = master
[submodule "deps/entt"]
	path = deps/entt
	url = git@github.com:skypjack/entt.git
	branch = master
